# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/

# Environment files (jangan commit secret!)
.env
.env.local
.env.*.local

# Docker volumes data
fabric-local/vars/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
